<section class="hero hero--main section">
  <div class="wrapper">
    <h1>{{ 'home.heroTitle' | translate }}</h1>
    <p>{{ 'home.heroSubtitle' | translate }}</p>
  </div>
</section>

<section class="latest wrapper section">
  <h2>{{ 'home.latest.title' | translate }}</h2>
  <a routerLink="/catalog">{{ 'home.latest.link' | translate }}</a>

  <div class="latest__slider slider">
    <div class="slider__list">
      <article class="slider__slide" *ngFor="let item of latestItems">
        <a routerLink="/catalog">
          <div class="slider__img"></div>
          <h3>{{ item.nameKey | translate }}</h3>
          <p>${{ item.price }}</p>
        </a>
      </article>
    </div>
  </div>
</section>
