<section class="login wrapper">
  <h1 class="visually-hidden">{{ 'login.heading' | translate }}</h1>

  <form class="login__form form" (submit)="$event.preventDefault()" method="post">
    <button class="form__button button form__button--close" aria-label="Close form" type="button"></button>
    <h2>{{ 'login.heading' | translate }}</h2>

    <fieldset>
      <div class="form__field">
        <label aria-label="Your email">
          <input
            id="user-email"
            type="email"
            name="user-email"
            [placeholder]="'login.emailPlaceholder' | translate"
            [(ngModel)]="email"
          />
        </label>
      </div>

      <div class="form__field">
        <label aria-label="Your password">
          <input
            id="user-password"
            type="password"
            name="user-password"
            [placeholder]="'login.password' | translate"
            [(ngModel)]="password"
          />
        </label>
        <a href="#">{{ 'login.forgot' | translate }}</a>
      </div>
    </fieldset>

    <button class="form__button button form__button--login" type="submit">{{ 'login.submit' | translate }}</button>
    <p>{{ 'login.registerPrompt' | translate }} <a href="#">{{ 'login.registerLink' | translate }}</a></p>
  </form>
</section>
