.filter {
  margin-right: 50px;
  width: 250px;
  flex-shrink: 0;
}

.filter__button {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  transition: $basic-transition;
}

.filter__button--options {
  padding: 23px 22px 23px 23px;
  position: relative;
  text-align: left;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-78%);
    right: 24px;
    width: 15px;
    height: 8px;
    background-image: url("../img/svg/arr-long-down-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.filter__button--options:hover {
  animation: blink-1 0.6s both;
}

.filter__button--options:active {
  opacity: 0.5;
}

.filter__control--active .filter__button--options::after {
  background-image: url("../img/svg/arr-long-up-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.filter__control--active {
  padding-bottom: 8px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid $border-golden-color;
}

.filter fieldset:not(:last-of-type) {
  border-bottom: none;
}

.filter__option {
  display: none;
  padding-left: 24px;
  margin-top: -2px;
}

.filter__option input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter__option:last-of-type:not(.filter__option--price) {
  margin-bottom: 18px;
}

.filter__control input:checked ~ label::before {
  background-color: $border-golden-color;
}

.filter__control--active .filter__option {
  display: block;
}

.catalog--no-js .filter__option {
  display: block;
}

.filter__control label,
.filter__control p {
  @include reset-text-slyle;
  @include small-plain-text;
  line-height: 18px;
  color: $dark-grey-text;
}

.filter__control label:active {
  color: $light-grey-text;
}

.filter__option input:focus {
  outline: 2px solid $dark-grey;
}

.filter__control label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  padding-left: 35px;
  cursor: pointer;
  transition: $basic-transition;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid $border-golden-color;
    left: 10px;
    top: 3px;
  }
}

.filter__price-input label {
  &::before {
    display: none;
  }
}

.filter__control label:hover {
  color: $golden-text;
}

.filter__control input {
  @include reset-text-slyle;
}

.filter__price-input {
  position: relative;
  height: 30px;
  width: 100%;
}

.filter__price-input input {
  position: absolute;
  bottom: 22px;
  height: 1px;
  width: 100%;
  background-color: $primary-beige-bg;
}

/* custom thumb */
.filter__price-input input::-webkit-slider-thumb {
  appearance: none;
}

.filter__min-price,
.filter__max-price {
  position: absolute;
  width: 15px;
  height: 15px;
  background: $border-golden-color;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.filter__price-progress {
  position: absolute;
  background-color: $primary-beige-bg;
  height: 1px;
  bottom: 25px;
  left: 25px;
  width: 200px;
  margin: 0 auto;
  z-index: 3;

  @include media-tablet {
    width: 300px;
    left: 67px;
  }

  @include media-mobile {
    left: 20%;
    width: 62%;
  }

  &::before {
    position: absolute;
    content: "";
    background-color: $border-golden-color;
    height: 1px;
    bottom: 0;
    left: 23%;
    width: 59%;

    @include media-tablet {
      width: 65%;
    }

    @include media-mobile {
      left: 18%;
      width: 67%;
    }
  }
}

.filter__price-progress label {
  margin-bottom: 13px;
}

.filter__min-price {
  left: 28%;
  top: -3px;
}

.filter__max-price {
  top: -3px;
  right: 24%;
}

.filter__price-output p:first-of-type {
  margin-right: 72px;
  margin-left: 14px;
}

.filter__option--price {
  margin-bottom: 7px;
  padding-left: 0;
}

.catalog--no-js .catalog__button--toggle-filter {
  display: none;
}

.filter__button--show {
  margin: 35px 0 25px;
  padding: 23px 0;
  color: $white-text;
  background-color: $primary-golden-bg;
  border: 1px solid $border-golden-color;

  @include media-tablet {
    margin: 35px auto 25px;
    width: 362px;
  }
}

.filter__button--show:hover {
  background-color: $primary-white-bg;
  color: $dark-grey;
}

.filter__button--show:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.filter__button--clear {
  border: 1px solid $border-golden-color;
  padding: 23px 0;

  @include media-tablet {
    margin: 0 auto;
    width: 362px;
  }
}

.filter__button--clear:hover {
  background-color: $primary-golden-bg;
  color: $white-text;
}

.filter__button--clear:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.catalog--no-js .filter__control {
  display: block;
}

.catalog--no-js .filter__button--options::after {
  background-image: url("../img/svg/arr-long-up-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.filter__price-output {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

.filter__form {
  position: relative;
}

.catalog__button-close {
  display: none;
}

.filter--show {
  @include tablet-mobile {
    display: block;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(219, 213, 208, 0.24);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include media-mobile {
    padding: 10px;
    background-color: $primary-white-bg;
  }
}

.filter--show .filter__form {
  background-color: $primary-white-bg;
  box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);

  @include media-tablet {
    width: 439px;
    height: 100%;
    min-height: 857px;
    margin: 115px auto auto;
  }

  @include media-mobile {
    width: 90%;
    height: 100%;
    max-width: 439px;
    min-height: 736px;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@include tablet-mobile {
  .filter--show .filter__button-close {
    display: block;
    position: absolute;
    background-color: $basic-black;
    width: 32px;
    height: 32px;
    background-image: url("../img/svg/close-icon-white.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: -15px;
    right: -15px;
  }

  .catalog--no-js .catalog__buttons {
    display: none;
  }

  .catalog--no-js .filter__button--show,
  .catalog--no-js .filter__button--clear {
    width: 100%;
  }

  .catalog--no-js .catalog__filter {
    display: block;
    width: 100%;
    max-width: 790px;
    margin-bottom: 50px;
  }
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
