.form {
  position: relative;
  margin: 100px auto;
  text-align: center;
  color: $light-grey-text;
  background-color: $primary-beige-bg;


  @include media-desktop {
    padding: 194px 45px 54px;
    width: 430px;
    background-image: url("../img/login-popup/popup-bg@1x.png");
    background-size: 100% 138px;
    background-position: top;
    background-repeat: no-repeat;

    @include retina {
      background-size: 100% 138px;
      background-image: url("../img/login-popup/popup-bg@2x.png");
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  @include media-tablet {
    padding: 198px 51px 54px;
    width: 442px;
    background-image: url("../img/login-popup/popup-bg@1x.png");
    background-size: 100% 138px;
    background-position: top;
    background-repeat: no-repeat;

    @include retina {
      background-size: 100% 138px;
      background-image: url("../img/login-popup/popup-bg@2x.png");
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  @include media-mobile {
    margin: 50px auto;
    padding: 121px 15px 39px;
    width: 270px;
    background-image: url("../img/login-popup/popup-bg@2x.png");
    background-size: 100% 84px;
    background-position: top;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/login-popup/popup-bg@2x.png");
      background-size: 100% 84px;
      background-position: top;
      background-repeat: no-repeat;
    }
  }
}

.no-webp .form {
  background-image: url("../img/login-popup/popup-bg@1x.png");
  background-size: 100% 138px;
  background-position: top;
  background-repeat: no-repeat;

  @include retina {
    background-size: 100% 138px;
    background-image: url("../img/login-popup/popup-bg@2x.png");
    background-position: top;
    background-repeat: no-repeat;
  }

  @include media-mobile {
    background-image: url("../img/login-popup/popup-bg@2x.png");
    background-size: 100% 84px;
    background-position: top;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/login-popup/popup-bg@2x.png");
      background-size: 100% 84px;
      background-position: top;
      background-repeat: no-repeat;
    }
  }
}

.webp .form {
  background-image: url("../img/login-popup/popup-bg@1x.webp");
  background-size: 100% 138px;
  background-position: top;
  background-repeat: no-repeat;

  @include retina {
    background-size: 100% 138px;
    background-image: url("../img/login-popup/popup-bg@2x.webp");
    background-position: top;
    background-repeat: no-repeat;
  }

  @include media-mobile {
    background-image: url("../img/login-popup/popup-bg@1x.webp");
    background-size: 100% 84px;
    background-position: top;
    background-repeat: no-repeat;

    @include retina {
      background-image: url("../img/login-popup/popup-bg@2x.webp");
      background-size: 100% 84px;
      background-position: top;
      background-repeat: no-repeat;
    }
  }
}

.form__button--close {
  position: absolute;
  background-image: url("../img/svg/close-icon-black.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
  height: 14px;
  top: 20px;
  right: 20px;

  @include media-tablet {
    width: 20px;
    height: 20px;
  }

  @include media-mobile {
    top: 15px;
    right: 15px;
  }
}

.form__button--close:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

.form__button--close:active {
  transform: scale(0.8);
  opacity: 0.5;
}

.form h2 {
  @include reset-text-slyle;
  @include section-titles;
  line-height: 31px;
  margin-bottom: 39px;
  color: $dark-grey-text;

  @include media-mobile {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 25px;
  }
}

.form a {
  @include reset-style-link;
}

.form fieldset {
  @include reset-text-slyle;
  border: none;
}

.form input {
  @include small-plain-text;
  line-height: 21px;
  display: flex;
  margin-bottom: 32px;
  padding-bottom: 9px;
  padding-right: 10px;
  width: 100%;
  background-color: $primary-beige-bg;
  border: 0;
  border-bottom: 1px solid $dark-grey-border;
  color: $dark-grey-text;

  @include media-mobile {
    margin-bottom: 28px;
  }
}

.form input::placeholder {
  @include small-plain-text;
  line-height: 21px;
  color: $light-grey-text;
}

.form input:hover::placeholder {
  color: $dark-grey-text;
}

.form__field {
  position: relative;
}

.form__button--login {
  background-color: $primary-golden-bg;
  color: $white-text;
  font-size: 16px;
  line-height: 130%;
  width: 340px;
  padding: 24px 0;
  margin: 36px auto 0;

  @include media-mobile {
    margin-top: 30px;
    width: 240px;
  }
}

.form__button--login:hover {
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form__button--login:active {
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.form p {
  @include reset-text-slyle;
  @include small-plain-text;
  margin-top: 14px;
}

.form a:last-of-type:not(.form__field:last-of-type a) {
  color: $dark-grey-text;

  @include media-mobile {
    margin-left: 0;
  }
}

.form a:last-of-type:not(.form__field:last-of-type a):hover {
  color: $golden-text;
}

.form a:last-of-type:not(.form__field:last-of-type a):active {
  color: $golden-text;
  opacity: 0.5;
}

.form__field:last-of-type a {
  position: absolute;
  font-size: 12px;
  bottom: -23px;
  right: 0;
  width: 60%;
  text-align: right;

  @include media-mobile {
    font-size: 12px;
    line-height: 18px;
  }
}

.form__field:last-of-type a:active {
  color: $dark-grey-text;
}

.form__field:last-of-type a:hover {
  color: $dark-grey-text;
  transform: scale(0.9);
}

.form__popup--open {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $primary-white-bg;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: inset 0 0 14px 0 rgba(0, 0, 0, 0.5);
  }
}
